<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Sport League - Quản lý giải đấu bóng đá</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="~/templates/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/templates/css/bootstrap.min.css" />
    <!-- site css -->
    <link href="~/templates/css/style.css" rel="stylesheet" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/templates/css/responsive.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/templates/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/templates/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/templates/css/custom.css" />
    @*<script src="~/templates/js/jquery.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.~/templates/js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="inner_page login">
    <div class="full_container">
        @RenderBody()
    </div>

    <!-- jQuery -->
    <script src="~/templates/js/popper.min.js"></script>
    <script src="~/templates/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="~/templates/js/animate.js"></script>
    <!-- select country -->
    <script src="~/templates/js/bootstrap-select.js"></script>
    <!-- nice scrollbar -->
    <script src="~/templates/js/perfect-scrollbar.min.js"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- custom js -->
    <script src="~/templates/js/custom.js"></script>
    <script>
        function ShowLoading() {
            Swal.fire({
                type: '',
                title: 'Đang xử lý',
                showCloseButton: false,
                showCancelButton: false,
                showConfirmButton: false,
                allowOutsideClick: false,
                allowEscapeKey: false,
                showLoaderOnConfirm: true,
            })
            swal.showLoading();
        }

        function CloseLoading() {
            swal.close();
        }
    </script>
</body>
</html>
