USE [master]
GO
/****** Object:  Database [SportLeague]    Script Date: 5/29/2024 8:24:31 PM ******/
CREATE DATABASE [SportLeague]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SportLeague', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SportLeague.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SportLeague_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SportLeague_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SportLeague].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SportLeague]
GO
/****** Object:  Table [dbo].[CauThu]    Script Date: 5/29/2024 8:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauThu](
	[MaCauThu] [int] IDENTITY(1,1) NOT NULL,
	[TenCauThu] [nvarchar](100) NOT NULL,
	[Avatar] [varchar](255) NULL,
	[NgaySinh] [date] NULL,
	[ChieuCao] [int] NULL,
	[QuocTich] [nvarchar](100) NULL,
	[ViTriThiDau] [nvarchar](50) NULL,
 CONSTRAINT [PK__CauThu__18362CB83B1C1500] PRIMARY KEY CLUSTERED 
(
	[MaCauThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhHieuCauThu]    Script Date: 5/29/2024 8:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhHieuCauThu](
	[MaDanhHieuCauThu] [int] IDENTITY(1,1) NOT NULL,
	[MaLichThiDau] [int] NULL,
	[MaCauThu] [int] NULL,
	[LoaiGiaiThuong] [nvarchar](100) NULL,
	[SoLuong] [int] NULL,
	[MaLoaiGiaiThuong] [int] NULL,
 CONSTRAINT [PK_DanhHieuCauThu] PRIMARY KEY CLUSTERED 
(
	[MaDanhHieuCauThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiBong]    Script Date: 5/29/2024 8:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiBong](
	[MaDoiBong] [int] IDENTITY(1,1) NOT NULL,
	[TenDoiBong] [varchar](100) NOT NULL,
	[Logo] [varchar](255) NULL,
	[NguoiQuanLyCLB] [nvarchar](100) NULL,
	[DoiTruong] [nvarchar](50) NULL,
	[ViTri] [nvarchar](50) NULL,
 CONSTRAINT [PK__DoiBong__EC71A1D621A43AB6] PRIMARY KEY CLUSTERED 
(
	[MaDoiBong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichThiDau]    Script Date: 5/29/2024 8:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichThiDau](
	[MaLichThiDau] [int] IDENTITY(1,1) NOT NULL,
	[MaGiaiDau] [int] NULL,
	[NgayThiDau] [datetime] NULL,
	[VongThiDau] [varchar](50) NULL,
	[SanThiDau] [varchar](100) NULL,
	[MaCLBChuNha] [int] NULL,
	[MaCLBKhach] [int] NULL,
	[TiSoCLBChuNha] [int] NULL,
	[TiSoCLBKhach] [int] NULL,
	[SoCuSut] [int] NULL,
	[SutTrungDich] [int] NULL,
	[SoLuongPenalties] [int] NULL,
	[SoLuongDaPhat] [int] NULL,
	[SoLuongPhatGoc] [int] NULL,
	[SoLuongPhamLoi] [int] NULL,
	[SoLuongVietVi] [int] NULL,
	[SoTheVang] [int] NULL,
	[SoTheDo] [int] NULL,
	[BuGio] [varchar](10) NULL,
	[KetQuaLuanLuu] [varchar](255) NULL,
 CONSTRAINT [PK__LichThiD__50E22190144C83F3] PRIMARY KEY CLUSTERED 
(
	[MaLichThiDau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGiaiThuong]    Script Date: 5/29/2024 8:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGiaiThuong](
	[MaLoaiGiaiThuong] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiGiaiThuong] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiGiaiThuong] PRIMARY KEY CLUSTERED 
(
	[MaLoaiGiaiThuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 5/29/2024 8:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](255) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[Email] [varchar](255) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Avatar] [nvarchar](100) NULL,
 CONSTRAINT [PK__NguoiDun__C539D7622BA9B7F2] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyenNguoiDung]    Script Date: 5/29/2024 8:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyenNguoiDung](
	[MaPhanQuyen] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[MaVaiTro] [int] NULL,
	[MaDoiBong] [int] NULL,
 CONSTRAINT [PK__PhanQuye__529AB12B336FDE64] PRIMARY KEY CLUSTERED 
(
	[MaPhanQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLyCLBVaGiaiDau]    Script Date: 5/29/2024 8:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyCLBVaGiaiDau](
	[MaGiaiDau] [int] NOT NULL,
	[MaCLB] [int] NOT NULL,
 CONSTRAINT [PK_QuanLyCLBVaGiaiDau] PRIMARY KEY CLUSTERED 
(
	[MaGiaiDau] ASC,
	[MaCLB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLyDoiBongVaCauThu]    Script Date: 5/29/2024 8:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyDoiBongVaCauThu](
	[MaDoiBong] [int] NOT NULL,
	[MaCauThu] [int] NOT NULL,
	[SoAo] [int] NULL,
 CONSTRAINT [PK_QuanLyDoiBongVaCauThu] PRIMARY KEY CLUSTERED 
(
	[MaDoiBong] ASC,
	[MaCauThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLyGiaiDau]    Script Date: 5/29/2024 8:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyGiaiDau](
	[MaGiaiDau] [int] IDENTITY(1,1) NOT NULL,
	[TenGiaiDau] [nvarchar](255) NOT NULL,
	[NamThucHien] [int] NULL,
	[DonViToChuc] [nvarchar](100) NULL,
	[SoLuongDoiThamGia] [int] NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
 CONSTRAINT [PK__QuanLyGi__0B811B64CA7CE45F] PRIMARY KEY CLUSTERED 
(
	[MaGiaiDau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLyGiaiThuong]    Script Date: 5/29/2024 8:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyGiaiThuong](
	[MaGiaiThuong] [int] IDENTITY(1,1) NOT NULL,
	[TenGiaiThuong] [nvarchar](255) NOT NULL,
	[MaGiaiDau] [int] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK__QuanLyGi__19596CA46A9827DC] PRIMARY KEY CLUSTERED 
(
	[MaGiaiThuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 5/29/2024 8:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__VaiTro__C24C41CF7FDFAA9A] PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CauThu] ON 

INSERT [dbo].[CauThu] ([MaCauThu], [TenCauThu], [Avatar], [NgaySinh], [ChieuCao], [QuocTich], [ViTriThiDau]) VALUES (1032, N'Reece James', N'Content/upload/24203093424-reece-james-2709112013.jpg', CAST(N'1999-12-08' AS Date), 180, N'Anh', N'Hậu Vệ')
INSERT [dbo].[CauThu] ([MaCauThu], [TenCauThu], [Avatar], [NgaySinh], [ChieuCao], [QuocTich], [ViTriThiDau]) VALUES (1033, N'Erling Haaland', N'Content/upload/15819976249-erling-haaland-2709132755.jpg', CAST(N'2000-11-24' AS Date), 195, N'Na Uy', N'Tiền Đạo')
INSERT [dbo].[CauThu] ([MaCauThu], [TenCauThu], [Avatar], [NgaySinh], [ChieuCao], [QuocTich], [ViTriThiDau]) VALUES (1034, N'Kevin De Bruyne', N'Content/upload/101889783217-kevin-de-bruyne-2709132756.jpg', CAST(N'1991-06-28' AS Date), 181, N'Bỉ', N'Tiền Vệ Tấn Công')
GO
SET IDENTITY_INSERT [dbo].[CauThu] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhHieuCauThu] ON 

INSERT [dbo].[DanhHieuCauThu] ([MaDanhHieuCauThu], [MaLichThiDau], [MaCauThu], [LoaiGiaiThuong], [SoLuong], [MaLoaiGiaiThuong]) VALUES (1007, 19, 1032, N'Số bàn thắng', 5, 1)
INSERT [dbo].[DanhHieuCauThu] ([MaDanhHieuCauThu], [MaLichThiDau], [MaCauThu], [LoaiGiaiThuong], [SoLuong], [MaLoaiGiaiThuong]) VALUES (1008, 22, 1033, N'Số bàn thắng', 10, 2)
INSERT [dbo].[DanhHieuCauThu] ([MaDanhHieuCauThu], [MaLichThiDau], [MaCauThu], [LoaiGiaiThuong], [SoLuong], [MaLoaiGiaiThuong]) VALUES (1010, 20, 1032, N'Số bàn thắng', 2, 2)
SET IDENTITY_INSERT [dbo].[DanhHieuCauThu] OFF
GO
SET IDENTITY_INSERT [dbo].[DoiBong] ON 

INSERT [dbo].[DoiBong] ([MaDoiBong], [TenDoiBong], [Logo], [NguoiQuanLyCLB], [DoiTruong], [ViTri]) VALUES (1003, N'Man City', N'Content/upload/439300615man-city.png', N'Pep Guardiola', N'Rodri', N'Tiền Vệ')
INSERT [dbo].[DoiBong] ([MaDoiBong], [TenDoiBong], [Logo], [NguoiQuanLyCLB], [DoiTruong], [ViTri]) VALUES (1004, N'Man Utd', N'Content/upload/11940499801200px-Manchester_United_FC_crest.svg[1].png', N'Ten Hat', N'Harry Magai', N'Trung Vệ')
INSERT [dbo].[DoiBong] ([MaDoiBong], [TenDoiBong], [Logo], [NguoiQuanLyCLB], [DoiTruong], [ViTri]) VALUES (1005, N'Arsenal', N'Content/upload/1255389376Arsenal.png', N'Ateta', N'Martin Odegaard', N'Tiền Vệ')
SET IDENTITY_INSERT [dbo].[DoiBong] OFF
GO
SET IDENTITY_INSERT [dbo].[LichThiDau] ON 

INSERT [dbo].[LichThiDau] ([MaLichThiDau], [MaGiaiDau], [NgayThiDau], [VongThiDau], [SanThiDau], [MaCLBChuNha], [MaCLBKhach], [TiSoCLBChuNha], [TiSoCLBKhach], [SoCuSut], [SutTrungDich], [SoLuongPenalties], [SoLuongDaPhat], [SoLuongPhatGoc], [SoLuongPhamLoi], [SoLuongVietVi], [SoTheVang], [SoTheDo], [BuGio], [KetQuaLuanLuu]) VALUES (19, 1002, CAST(N'2023-12-22T11:00:00.000' AS DateTime), N'1', N'CMD', 1003, 1004, 1, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LichThiDau] ([MaLichThiDau], [MaGiaiDau], [NgayThiDau], [VongThiDau], [SanThiDau], [MaCLBChuNha], [MaCLBKhach], [TiSoCLBChuNha], [TiSoCLBKhach], [SoCuSut], [SutTrungDich], [SoLuongPenalties], [SoLuongDaPhat], [SoLuongPhatGoc], [SoLuongPhamLoi], [SoLuongVietVi], [SoTheVang], [SoTheDo], [BuGio], [KetQuaLuanLuu]) VALUES (20, 1002, CAST(N'2023-12-22T14:18:00.000' AS DateTime), N'2', N'CDD', 1003, 1005, 2, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LichThiDau] ([MaLichThiDau], [MaGiaiDau], [NgayThiDau], [VongThiDau], [SanThiDau], [MaCLBChuNha], [MaCLBKhach], [TiSoCLBChuNha], [TiSoCLBKhach], [SoCuSut], [SutTrungDich], [SoLuongPenalties], [SoLuongDaPhat], [SoLuongPhatGoc], [SoLuongPhamLoi], [SoLuongVietVi], [SoTheVang], [SoTheDo], [BuGio], [KetQuaLuanLuu]) VALUES (21, 1002, CAST(N'2023-12-22T17:20:00.000' AS DateTime), N'3', N'FM', 1003, 1015, 4, 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LichThiDau] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiGiaiThuong] ON 

INSERT [dbo].[LoaiGiaiThuong] ([MaLoaiGiaiThuong], [TenLoaiGiaiThuong]) VALUES (1, N'Số bàn thắng')
INSERT [dbo].[LoaiGiaiThuong] ([MaLoaiGiaiThuong], [TenLoaiGiaiThuong]) VALUES (2, N'Số lần chuyền bóng')
INSERT [dbo].[LoaiGiaiThuong] ([MaLoaiGiaiThuong], [TenLoaiGiaiThuong]) VALUES (3, N'Thẻ vàng')
SET IDENTITY_INSERT [dbo].[LoaiGiaiThuong] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [Ho], [Ten], [NgaySinh], [Email], [SoDienThoai], [Avatar]) VALUES (2005, N'phung111', N'$2a$11$H5JfukQzqNogF/sNtFwOHeXamr3woWs9IHSCdPZabqq1fuqkimKZ2', N'huỳnh', N'phụng', CAST(N'1999-12-30' AS Date), N'phung1@gmail.com', N'123456789', N'Content/upload/634190842Erling_Haaland_2023_(cropped).jpg')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [Ho], [Ten], [NgaySinh], [Email], [SoDienThoai], [Avatar]) VALUES (2006, N'phung111', N'$2a$11$LjOWOuVU6lZpbQf.4oBSuOhnk3FgvbLKow/o2Ed6xu5BiTFkh/.d.', N'h', N'p', CAST(N'2023-11-24' AS Date), N'phung123@gmail.com', N'123456789', N'Content/upload/1848330954Erling_Haaland_2023_(cropped).jpg')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [Ho], [Ten], [NgaySinh], [Email], [SoDienThoai], [Avatar]) VALUES (2008, N'phung123', N'$2a$11$CxVieleMVt6.1ptIlpJVzushhjpIUfOQaRg13NSNvu/9VYwaRYwGC', N'Huỳnh', N'Phụng', CAST(N'2023-11-23' AS Date), N'phung123@gmail.com', N'123456789', N'Content/upload/1610885431Harry_Maguire_2018-07-11_1.jpg')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanQuyenNguoiDung] ON 

INSERT [dbo].[PhanQuyenNguoiDung] ([MaPhanQuyen], [MaNguoiDung], [MaVaiTro], [MaDoiBong]) VALUES (3, 2014, 1, NULL)
INSERT [dbo].[PhanQuyenNguoiDung] ([MaPhanQuyen], [MaNguoiDung], [MaVaiTro], [MaDoiBong]) VALUES (6, 2014, 1, NULL)
INSERT [dbo].[PhanQuyenNguoiDung] ([MaPhanQuyen], [MaNguoiDung], [MaVaiTro], [MaDoiBong]) VALUES (11, 2008, 1, NULL)
SET IDENTITY_INSERT [dbo].[PhanQuyenNguoiDung] OFF
GO
INSERT [dbo].[QuanLyCLBVaGiaiDau] ([MaGiaiDau], [MaCLB]) VALUES (1002, 1003)
INSERT [dbo].[QuanLyCLBVaGiaiDau] ([MaGiaiDau], [MaCLB]) VALUES (1002, 1004)
INSERT [dbo].[QuanLyCLBVaGiaiDau] ([MaGiaiDau], [MaCLB]) VALUES (1002, 1005)
GO
INSERT [dbo].[QuanLyDoiBongVaCauThu] ([MaDoiBong], [MaCauThu], [SoAo]) VALUES (1003, 1024, 0)
INSERT [dbo].[QuanLyDoiBongVaCauThu] ([MaDoiBong], [MaCauThu], [SoAo]) VALUES (1003, 1025, 0)
INSERT [dbo].[QuanLyDoiBongVaCauThu] ([MaDoiBong], [MaCauThu], [SoAo]) VALUES (1003, 1026, 0)
GO
SET IDENTITY_INSERT [dbo].[QuanLyGiaiDau] ON 

INSERT [dbo].[QuanLyGiaiDau] ([MaGiaiDau], [TenGiaiDau], [NamThucHien], [DonViToChuc], [SoLuongDoiThamGia], [NgayBatDau], [NgayKetThuc]) VALUES (1002, N'Ngoại hạng anh', 2023, N'England', 4, CAST(N'2023-12-20T00:00:00.000' AS DateTime), CAST(N'2023-12-23T00:00:00.000' AS DateTime))
INSERT [dbo].[QuanLyGiaiDau] ([MaGiaiDau], [TenGiaiDau], [NamThucHien], [DonViToChuc], [SoLuongDoiThamGia], [NgayBatDau], [NgayKetThuc]) VALUES (1007, N'La Liga', 2023, N'LFP', 4, CAST(N'2023-12-20T00:00:00.000' AS DateTime), CAST(N'2023-12-23T00:00:00.000' AS DateTime))
INSERT [dbo].[QuanLyGiaiDau] ([MaGiaiDau], [TenGiaiDau], [NamThucHien], [DonViToChuc], [SoLuongDoiThamGia], [NgayBatDau], [NgayKetThuc]) VALUES (3008, N'Sinh Viên Khoa IT Hutech', 2024, N'Hutech', 4, CAST(N'2024-05-10T00:00:00.000' AS DateTime), CAST(N'2024-05-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuanLyGiaiDau] OFF
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (1, N'Admin')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (2, N'Team')
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO
ALTER TABLE [dbo].[DanhHieuCauThu]  WITH CHECK ADD  CONSTRAINT [FK__DanhHieuC__MaCau__4AB81AF0] FOREIGN KEY([MaCauThu])
REFERENCES [dbo].[CauThu] ([MaCauThu])
GO
ALTER TABLE [dbo].[DanhHieuCauThu] CHECK CONSTRAINT [FK__DanhHieuC__MaCau__4AB81AF0]
GO
ALTER TABLE [dbo].[DanhHieuCauThu]  WITH CHECK ADD  CONSTRAINT [FK__DanhHieuC__MaLic__49C3F6B7] FOREIGN KEY([MaLichThiDau])
REFERENCES [dbo].[LichThiDau] ([MaLichThiDau])
GO
ALTER TABLE [dbo].[DanhHieuCauThu] CHECK CONSTRAINT [FK__DanhHieuC__MaLic__49C3F6B7]
GO
ALTER TABLE [dbo].[LichThiDau]  WITH CHECK ADD  CONSTRAINT [FK__LichThiDa__MaCLB__403A8C7D] FOREIGN KEY([MaCLBChuNha])
REFERENCES [dbo].[DoiBong] ([MaDoiBong])
GO
ALTER TABLE [dbo].[LichThiDau] CHECK CONSTRAINT [FK__LichThiDa__MaCLB__403A8C7D]
GO
ALTER TABLE [dbo].[LichThiDau]  WITH CHECK ADD  CONSTRAINT [FK__LichThiDa__MaCLB__412EB0B6] FOREIGN KEY([MaCLBKhach])
REFERENCES [dbo].[DoiBong] ([MaDoiBong])
GO
ALTER TABLE [dbo].[LichThiDau] CHECK CONSTRAINT [FK__LichThiDa__MaCLB__412EB0B6]
GO
ALTER TABLE [dbo].[LichThiDau]  WITH CHECK ADD  CONSTRAINT [FK__LichThiDa__MaGia__3F466844] FOREIGN KEY([MaGiaiDau])
REFERENCES [dbo].[QuanLyGiaiDau] ([MaGiaiDau])
GO
ALTER TABLE [dbo].[LichThiDau] CHECK CONSTRAINT [FK__LichThiDa__MaGia__3F466844]
GO
ALTER TABLE [dbo].[PhanQuyenNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK__PhanQuyen__MaNgu__2F10007B] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PhanQuyenNguoiDung] CHECK CONSTRAINT [FK__PhanQuyen__MaNgu__2F10007B]
GO
ALTER TABLE [dbo].[PhanQuyenNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK__PhanQuyen__MaVai__300424B4] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[PhanQuyenNguoiDung] CHECK CONSTRAINT [FK__PhanQuyen__MaVai__300424B4]
GO
ALTER TABLE [dbo].[QuanLyCLBVaGiaiDau]  WITH CHECK ADD  CONSTRAINT [FK__QuanLyCLB__MaCLB__3C69FB99] FOREIGN KEY([MaCLB])
REFERENCES [dbo].[DoiBong] ([MaDoiBong])
GO
ALTER TABLE [dbo].[QuanLyCLBVaGiaiDau] CHECK CONSTRAINT [FK__QuanLyCLB__MaCLB__3C69FB99]
GO
ALTER TABLE [dbo].[QuanLyCLBVaGiaiDau]  WITH CHECK ADD  CONSTRAINT [FK__QuanLyCLB__MaGia__3B75D760] FOREIGN KEY([MaGiaiDau])
REFERENCES [dbo].[QuanLyGiaiDau] ([MaGiaiDau])
GO
ALTER TABLE [dbo].[QuanLyCLBVaGiaiDau] CHECK CONSTRAINT [FK__QuanLyCLB__MaGia__3B75D760]
GO
ALTER TABLE [dbo].[QuanLyGiaiThuong]  WITH CHECK ADD  CONSTRAINT [FK__QuanLyGia__MaGia__34C8D9D1] FOREIGN KEY([MaGiaiDau])
REFERENCES [dbo].[QuanLyGiaiDau] ([MaGiaiDau])
GO
ALTER TABLE [dbo].[QuanLyGiaiThuong] CHECK CONSTRAINT [FK__QuanLyGia__MaGia__34C8D9D1]
GO
USE [master]
GO
