@using SportsLeague.Models;
@model List<SportsLeague.Models.QuanLyGiaiDau>
@{
    ViewBag.Title = "DanhSachQL";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@foreach (var item in Model)
{
    <style>
        .logo_login {
            background: url('https://img.freepik.com/premium-vector/soccer-template-design-football-banner-sport-layout-design-vector-illustration_42237-1097.jpg')
        }
    </style>
  
    <div class="row column4 graph">

        <div class="col-md-4">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Danh sách giải đấu</h2>
                    </div>
                </div>
                <div class="full progress_bar_inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="msg_list_main">
                                <ul class="msg_list">
                                   
                                    <li>
                                        <span>
                                            <span class="name_user">@item.TenGiaiDau</span>

                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <span class="name_user">@item.NamThucHien</span>

                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <span class="name_user">@item.DonViToChuc</span>

                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <span class="name_user">@item.SoLuongDoiThamGia</span>

                                        </span>
                                    </li>


                                </ul>
                                <div class="field margin_0">

                                    <a href="/QLGiaidau/Xoa?maGiaiDau=@item.MaGiaiDau"> <span class="btn btn-success" style="margin-top: 5px; margin-bottom: 5px" > Xóa</span></a>
                                    @*<div>
                                    <a href="/QLGiaidau/CapNhat?maGiaiDau=@item.MaGiaiDau" class="proud_buy">cap nhat </a>
                                    </div>*@
                                    @*<li><a href="/QLGiaidau/CapNhat?maGiaiDau=@item.MaGiaiDau"><i class="btn btn-success"></i> <span>Cập Nhật</span></a></li>*@
                                    <a href="/QLGiaidau/CapNhat?maGiaiDau=@item.MaGiaiDau"><span class="btn btn-danger" style="margin-top: 5px;  margin-bottom: 5px">Cập Nhật</span></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



}
