

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--<h3>Danh sach QL Giai dau</h3>
<a class="btn btn-success" style="margin-bottom:10px" href="/QLGiaidau/QL"><i class="fa fa-plus"></i>Thêm Mới</a>
<table id="QLGiaidauTable" class="display">
    <thead>
        <tr>-->
@*<th>Mã Giải Đấu</th>*@
<!--<th>Tên Giải Đấu</th>
            <th>Năm Thực Hiện</th>
            <th>Đơn Vị Tổ Chức</th>
            <th>Số Lượng Đội Tham Gia</th>
            <th>Hành Động</th>
        </tr>
    </thead>
</table>-->

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h3>Danh sách giải đấu</h3>
            <a class="btn btn-success" style="margin-bottom:10px" href="/QLGiaidau/QL"><i class="fa fa-plus"></i>Thêm Mới</a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="QLGiaidauTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        @*<th>Mã Giải Đấu</th>*@
                        <th>Tên Giải Đấu</th>
                        <th>Năm Thực Hiện</th>
                        <th>Thời Gian Tổ Chức</th>
                        <th>Đơn Vị Tổ Chức</th>
                        <th>Số Lượng Đội Tham Gia</th>
                        <th>Hành Động</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!--======================================================================-->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="DetailsModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsContainer"></div>
</div>
<div class="modal fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="DeleteModel" aria-hidden="true" data-backdrop="static">
    <div id="deleteContainer"></div>
</div>


<script type="text/javascript">
    var dtable;
    $(document).ready(function () {
        var dtable = $('#QLGiaidauTable').DataTable({
            "ajax": {
                "url": "../QLGiaidau/GetData",
                "type": "Get",
                "datatype": "json"
            },
            "columns": [
              /*  { "data": "MaGiaiDau" },*/
                { "data": "TenGiaiDau" },
                { "data": "NamThucHien" },
                 { "data": "ThoiGianToChuc" },             
                { "data": "DonViToChuc" },
                { "data": "SoLuongDoiThamGia" },
                {
                    "data": "MaGiaiDau", render: function (id) {
                        var bHtml = "<div class='btn-group' role='group' aria-label='updaterecord'>";
                        bHtml += "<button1 class='btn btn-primary' onclick=Edit(" + id + ") style='margin-right:5px;'></i>Chỉnh sửa</button1>";
                        bHtml += "<button class='btn btn-danger'  onclick=Xoa(" + id + ") style='margin-right:5px;'>Xóa</button>";
                        bHtml += "</div>";
                        return bHtml;
                    }
                }

            ],
            "language": {
                "url": 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/vi.json'
            }
        });
    });

    function Xoa(id) {
        var result = confirm("Bạn có muốn xóa giải đấu này?");
        if (result) {
            window.location.href = "@Url.Action("Xoa", "QLGiaidau")?maGiaiDau=" + id;
        }
    }

    function Edit(id) {
        window.location.href = "@Url.Action("CapNhat", "QLGiaidau")?maGiaiDau=" + id;
    }
</script>

